html { 
    max-width: 1200px;
}
header {
    display: flex;
    flex-direction: column;
    margin: 2vh;
    background-color: black;
    height: 40%;
    justify-content: flex-start;
}
    .top{
        display: flex;
        background-color: darkblue;
        margin: 2vh;
        justify-content: flex-start;
        height: 50%;
    }
        logo, social {
            background-color: brown;
            margin: 2vh;
            width: 20%;
            height: 90%;
        }
        nav {
            background-color: brown;
           
            margin: 2vh;
            width: 80%;
            height: 90%;
        }
    slider{
        background-color: darkorange;
        margin: 2vh;
        display: flex;
        
        height: 50%;
    }
       slider > .slider1 {
            background-color: coral;
            margin: 2vh;
            
            flex: 1 1 auto;
        }
.center {
    display: flex;
    justify-content: space-between;
    margin: 2vh;
    background-color: black;
    height: 50%;
}
.stories {
    background-color: darkslateblue;
    display: flex;
    flex: 1;
    margin: 2vh;
    justify-content: space-between;
    
}
    .storie1 {
        background-color: darkslateblue;
        display: flex;
        flex-wrap: wrap;
        margin: 2vh;
        justify-content: space-between;
        width: 60%;
        height: 50%;
    }
        .article1, .article2, .article3, .article4{
            background-color: blue;
            flex: 1 200px;
            justify-content: space-between;
        
            
        }
        .article5{
            background-color: cyan;
            flex: 2 200px;
        }
    .list {
        display: flex;
        flex-direction: column;
        background-color: red;
        margin: 2vh;
        width: 30%;
    }
        .list1, .list2{
            background-color: blanchedalmond;
        }
footer {
    display: flex;
    background-color: black;
    margin: 2vh;
    height: 10%;

}
.prova {
    flex: 1 1 auto;
    background-color: aqua;
    margin: 2vh;
}
@media screen {
    
}